body {
  overflow: hidden;
}

.patron-avatar-list-container {

  background-color: $background-color-dark;

  .patron-avatar-list {

    padding-left: 0;
    margin-bottom: 0;
    margin-top: 10px;
    height: 64px;

    .patron-avatar-list-item {
      padding-right: 20px;
      list-style: none;
      display: inline-block;
      height: 64px;
      width: 64px;
      img {
        display: inline-block;
      }

      span {
        display: inline-block;
      }

    }

    .selected::after {
      position: absolute;
      content: "";
      -webkit-border-radius: 8px;
      -moz-border-radius: 8px;
      border-radius: 8px;
      width:8px;
      height:8px;
      background-color: white;
      display: inline-block;
    }

  }

}

.messages-list-container {

  height: 85vh;
  overflow: auto;
  padding-bottom: 20px;

  .message {

    padding-top: 10px;

    .message-timestamp {
      text-align: center;
      color: $text-muted;
      padding: $padding-base-vertical
               $padding-base-horizontal
               $padding-base-vertical * 2
               $padding-base-horizontal;
    }

    .message-text {
      width: 50%;

      span {
        display: inline-block;

        /* Rounded corners with padding */
        border-radius: 10px;
        padding: $padding-base-vertical
                 $padding-base-horizontal
                 $padding-base-vertical
                 $padding-base-horizontal;

        /* Coloring */
        background-color: #DFDEE5;
        color: black;
      }
    }

    .message-image {

    }
  }

  .message-reply {

    .message-text {

      /* Alignment */
      width: 50%;
      margin-left: 50%;
      text-align: right;

      span {
        display: inline-block;

        /* Rounded corners with padding */
        border-radius: 10px;
        padding: $padding-base-vertical
                 $padding-base-horizontal
                 $padding-base-vertical
                 $padding-base-horizontal;

        /* Coloring */
        background-color: #31ABE0;
        color: white;
      }
    }
  }

  .message-incoming {
    .message-text {
      text-align: left;
    }
  }
}

.messages-list {
  border-right: 1px #ddd solid;
}